.inputSection > form {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.inputSelect {
  width: 24.5rem;
  border: 5px solid #000;
  background: #fff;
  box-shadow: 4px 4px 0px 0px #a7a6ff;
}

button.submitbutton {
  width: 2.6rem;
  height: 2.8rem;

  border-radius: 0.6875rem;
  border: 4px solid #000;
  background: #fff;
  box-shadow: 4px 4px 0px 0px #a7a6ff;

  display: flex;
  align-items: center;
  justify-content: center;
}
button.submitbutton:hover {
  box-shadow: 4px 4px 0px 0px #7775ff;
}
