@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Overpass+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
